header,
footer {
  height: 100px;
  width: 100%;
  background-color: #da312c;
  text-align: center;
}
body {
  background-color: #ffffe0;
}
main {
  background-image: url("./images/bg.png");
  background-position: center center;
  background-repeat: no-repeat;
}
footer {
  position: absolute;
  bottom: 0;
}

.img_center {
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img_shadow,
.omikuji_open {
  box-shadow: 2px 2px 10px #dcdcdc;
}

.omikuji_open {
  animation: korokoro 1.5s linear 0s 1;
}

@keyframes korokoro {
  0% {
    transform: translate(0%, 0%);
  }
  25% {
    transform: translate(10%, 0%) rotate(10deg);
  }
  50% {
    transform: translate(0%, 0%) rotate(0deg);
  }
  75% {
    transform: translate(-10%, 0%) rotate(-10deg);
  }
  100% {
    transform: translate(0%, 0%) rotate(0deg);
  }
}
